body{
    background-color: #FF5252;
}
.loginbox{
    background: white;
    padding: 20px;
    width: 100%;
    max-width: 800px;
}

.cellcenterparent {
    width: 100%;
    height: 100%;
    display: table;
}

.cellcentercontent {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

form > p{
    text-align: left;
    margin-top: 10px;
}