.navbar {
    margin-bottom: 0;
    background-color: #FF3332;
    z-index: 9999;
    border: 0;
    font-size: 13px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    margin-bottom: 150px;
    box-shadow: 0px 2px 15px #000000;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;

}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #FF3332 !important;
    background-color: #fff !important;

}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;

}

.main{
    padding-top: 100px;
}

form > p{
    text-align: left;
    margin-top: 15px;
}

.btn-red{
    background-color: #FF3332;
    color: white;
}

.btn-red:hover{
    background-color: red;
    color: white;
}